* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10dvh;
	width: 100dvw;
	padding-left: 14px;
	padding-right: 14px;
	background-color: rgb(150, 156, 214);
}
.logo {
	display: flex;
	min-width: 30%;
}
nav {
	/* display: flex; */
	width: 40%;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	gap: 30px;
	border: 2px solid springgreen;
}
a {
	text-decoration: none;
}
main {
	height: 90dvh;
	width: 100dvw;
	display: flex;
	justify-content: space-between;
}

.main-stuff {
	height: 90dvh;
}
.top {
	display: flex;
	width: 75dvw;
	height: 8dvh;
	padding-left: 10px;
}
.title {
	height: 8dvh;
	width: 50dvw;
	font-size: 30px;
	padding-left: 4px;
	overflow: hidden;
	outline: none;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
}

.start-stop {
	width: 25dvw;
	border-radius: 8px;
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	padding: 4px;
	margin-right: 6px;
	z-index: 1;
}
.start-stop * {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	color: white;
	cursor: pointer;
}

.start {
	background-color: rgb(0, 255, 0);
	border: 2px solid rgb(47, 223, 24);
}

.stop {
	background-color: rgb(255, 0, 0);
	border: 2px solid rgb(161, 12, 12);
}

.textarea {
	resize: none;
	font-size: 22px;
	width: 75dvw;
	height: 68dvh;
	border: none;
	outline: none;
	background: #ffffff;
	padding-top: 4px;
	overflow-y: scroll;
	padding-left: 10px;
}

.controls {
	height: 10dvh;
	width: 75dvw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 5%;
	padding-left: 6px;
	font-size: 60px;
}

.features * {
	cursor: pointer;
}
.download-copy *:hover {
	cursor: pointer;
}

.download-copy {
	display: flex;
	justify-content: flex-end;
	gap: 15%;
	width: 30%;
	font-size: 60px;
}
.side-stuff {
	width: 25dvw;
	height: 70dvh;
	border-bottom: none;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-stuff > iframe {
	height: 70dvh;
	width: 24dvw;
}

::-webkit-scrollbar {
	width: 13px;
	scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
	/* background-color: hsl(270, 4%, 55%); */
	border-radius: 100dvw;
	margin-block: 2em;
	border: 1px solid black;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 2%, 22%);
	border-radius: 100dvw;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 10%);
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
	border-radius: 20px;
}

/* The Close Button */
.close {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #aaa;
	font-size: 38px;
	font-weight: bold;
}
.close span:hover,
.close span:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.as-docx {
	text-align: center;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 1.5em;
}

.as-txt {
	text-align: center;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 1.5em;
}

.as-docx:hover,
.as-txt:hover {
	background-color: rgba(0, 0, 0, 0.1);
	outline: 1px solid grey;
	cursor: pointer;
}
.as-docx:active,
.as-txt:active {
	background-color: rgba(0, 0, 0, 0.1);
	outline: 1px solid grey;
}

@media screen and (max-width: 660px) {
	.side-stuff {
		display: none;
	}
	.textarea {
		width: 100dvw;
	}
	.top {
		width: 100dvw;
		justify-content: space-between;
		padding-right: 15px;
	}
	.controls {
		width: 100dvw;
	}
	.title {
		font-size: 20px;
	}
	.features {
		justify-content: space-between;
	}
	.features * {
		font-size: 40px;
	}
	.download-copy {
		font-size: 40px;
	}
	.modal-content {
		width: auto;
	}
}
@media screen and (max-width: 332px) {
	.features * {
		font-size: 30px;
	}
	.download-copy {
		font-size: 30px;
	}
	.title {
		font-size: 15px;
	}
}
body {
	width: 100%;
	height: 100%;
}
