* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10dvh;
	width: 100dvw;
	padding-left: 14px;
	padding-right: 14px;
	background-color: rgb(150, 156, 214);
}
nav ul {
	list-style-type: none;
	display: flex;
	gap: 40px;
}
a {
	text-decoration: none;
}
main {
	height: 90dvh;
	width: 100dvw;
	display: flex;
	justify-content: space-between;
}

.main-stuff {
	height: 90dvh;
	border-left: 8px solid rgb(255, 255, 255);
}
.top {
	display: flex;
	width: 75dvw;
	height: 8dvh;
}
.title {
	height: 8dvh;
	width: 50dvw;
	font-size: 30px;
	padding-left: 4px;
	overflow: hidden;
	outline: none;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.start-stop {
	width: 25dvw;
	border-radius: 8px;
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	padding: 4px;
	margin-right: 6px;
}
.start-stop * {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	color: white;
	cursor: pointer;
}

.start {
	background-color: rgb(0, 255, 0);
	border: 2px solid rgb(47, 223, 24);
}

.stop {
	background-color: rgb(255, 0, 0);
	border: 2px solid rgb(161, 12, 12);
}

.textarea {
	resize: none;
	font-size: 22px;
	width: 75dvw;
	height: 68dvh;
	border: none;
	outline: none;
	background: #ffffff;
	padding-top: 4px;
	overflow-y: scroll;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.controls {
	height: 10dvh;
	width: 75dvw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features {
	width: 60dvw;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 35px;
	margin-left: 6px;
}

.features * {
	width: 60px;
	height: 60px;
	cursor: pointer;
	font-size: 60px;
}
.fa-floppy-disk:hover {
	cursor: pointer;
}
.side-stuff {
	width: 25dvw;
	height: 90dvh;
	border-bottom: none;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-stuff > iframe {
	height: 80dvh;
	width: 24dvw;
}

::-webkit-scrollbar {
	width: 15px;
	scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
	background-color: hsl(270, 4%, 55%);
	border-radius: 100dvw;
	margin-block: 2em;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 2%, 22%);
	border-radius: 100dvw;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 10%);
}
